.pc-gemuncloker-scene {
 width: 100%;
  height: 100%;
  position: relative;
  /* ADICIONE A IMAGEM DE FUNDO */
  background-image: url('../../assets/scene-room-pc-gemunlocker.jpg');
  background-size: cover;
  background-position: center;
}